.header{
    display: flex;
    justify-content: space-between;
    padding:15px 0px;
}

.header ul li{
    list-style: none;
    padding: 5px;
    
}
.header ul li a{
    margin:0 10px;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.img-ul{
    display: flex;
}
.logo{
    border-radius: 50%;
    padding: 0 10px;
    width: fit-content;
}
.fas{
    
    font-size: 30px;
    margin:0 20px;
    color: #ffffff;
    font-weight:lighter;
    cursor: pointer;
    height: fit-content;
    opacity: calc(0);
}
.header .contact-btn{
    border: #ffffff solid 1px;
    height: fit-content;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}
.header ul{
    display: flex;
}
.showHide{
    display: flex;
}

@media only screen and (max-width: 800px) {
    .contact-btn {
      display: none;
    }   
    .fas{
        opacity: calc(1);
        
    }
    .img-ul ul{
        margin: 30px 0;
        flex-direction: column;
        background-color: #B28AF8;
        padding: 10px;
        border-radius: 0 10px 10px 0;
    }
    .img-ul{
        flex-direction: column;
    }
    .show{
        display: none;
    }
}