.showroom{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.showroom-information h1, .showroom-information h2{
    color: #ffffff;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
}

.showroom-information{
    margin-top: 100px;
}

.showroom-information p{
    color: #ffffff;
    width: 350px;
    text-align: justify;
    margin: 20px 0;
    line-height: 20px;
}
.portfolio-btn{
    padding:10px 60px;
    margin-right: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #956AE1;

}
.video-btn{
    border-radius: 50%;
    padding: 0;
    border: none;
    color: #956AE1;
}
.video-btn i{
    padding: 0;
    font-size: 20px;
    color: #956AE1;
    margin: 10px;

}
.video-btn,.portfolio-btn{
    margin-top: 50px;
}
.showroom-img{
    width: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url(../assetes/img/my-pic.png);
    background-color: #966ae1dc;
    background-blend-mode:darken;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
@media only screen and (max-width: 800px){
    .showroom-information{
        margin-top: 0;
    }
    .showroom{
        padding: 50px 10px;
    }
}